
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.chat-container {
  width: 1000px; 
  height: 650px; 
  background-color: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
}


.chat-header {
  background-color: #F6D5B6;
  color: #19191a;
  padding: 20px; 
  font-size: 24px; 
  text-align: center;
  border-bottom: 2px solid #E9AE8C;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.chat-body {
  flex: 1;
  padding: 20px; 
  background-color: #FFFFFF;
  overflow-y: auto;
}


.message {
  margin-bottom: 20px; 
  padding: 15px 20px; 
  border-radius: 20px; 
  max-width: 70%; 
  word-wrap: break-word;
  font-size: 18px; 
  position: relative;
}

.user {
  align-self: flex-end;
  background-color: #FF9376;
  color: #ffffff;
}

.bot {
  align-self: flex-start;
  background-color: #8DAAA6;
  color: #19191a;
}

.message-input-container {
  display: flex;
  align-items: center;
  padding: 10px 20px; 
  background-color: #F6D5B6;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.message-input {
  flex: 1;
  padding: 15px; 
  border: none; 
  border-radius: 25px; 
  font-size: 18px; 
  outline: none;
  margin-right: 10px; 
  background-color: #D5D7CC;
}

.send-button, .clear-button {
  padding: 15px 25px; 
  border: none;
  border-radius: 25px; 
  color: #ffffff;
  cursor: pointer;
  font-size: 18px; 
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.send-button {
  background-color: #FF9376;
  
}

.send-button:hover {
  background-color: #E9AE8C;
}

.clear-button {
  background-color: #8DAAA6;
}

.clear-button:hover {
  background-color: #60d4ea;
}


.input {
  border: 2px solid transparent;
  width: 700px;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #D5D7CC;
  border-radius: 10px;
  transition: all 0.5s;
  font-size: 17px;
  font-weight: 500;
}

.input:hover,
.input:focus {
  border: 2px solid #8DAAA6;
  box-shadow: 0px 0px 0px 7px rgba(141, 170, 166, 0.2);
  background-color: white;
}


.cssbuttons-io-button, .cssbuttons-io-button-limpiar {
  font-family: inherit;
  font-size: 17px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  cursor: pointer;
}

.cssbuttons-io-button {
  background: #60d4ea;
  color: white;
  padding: 0.35em;
  padding-left: 1.2em;
  box-shadow: inset 0 0 1.6em -0.6em #60d4ea;
  padding-right: 3.3em;
}

.cssbuttons-io-button:hover {
  background-color: #8DAAA6;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #60d4ea;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.cssbuttons-io-button-limpiar {
  background: #E9AE8C;
  color: white;
  padding: 0.35em;
  padding-left: 1.2em;
  box-shadow: inset 0 0 1.6em -0.6em #C47B63;
  padding-right: 3.3em;
}

.cssbuttons-io-button-limpiar:hover {
  background-color: #FF9376;
}

.cssbuttons-io-button-limpiar .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #C47B63;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button-limpiar:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button-limpiar .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #C47B63;
}

.cssbuttons-io-button-limpiar:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button-limpiar:active .icon {
  transform: scale(0.95);
}
